<header>
  <div class="header-logo">
    <!--トップページへのリンク-->
    <a href="/">＜＜TOP</a>
  </div>
  <ul class="header-logo">
    <li>
      <!--aboutページへのリンク-->
      <a href="/more">moreたぬき＞＞</a>
    </li>
  </ul>
</header>


<div class="about-main">
  <h2>たぬき について</h2>
</div>


<body>

<div class="about-main">
<h1>＜たぬきとは？＞</h1>
<p>たぬきとは、食肉目（ネコ目）イヌ科タヌキ属に属する動物である。</p>
<p>日本では古くより、物語や落語、音楽などの題材にされ、日本人と縁が深い。</p>
<p>冬毛のたぬきの毛皮は防寒具に最適であるとして重宝されていたため、養殖も盛んだった。</p>
<br>
<p>また中国では、薬膳の一つとして現在でも一部地域で食されている。</p>
<p>日本においても、たぬき汁という料理を昔話などでよく耳にする。</p>
<p>しかし、古来日本では、たぬきとアナグマを混同し「ムジナ」と呼んでおり、</p>
<p>たぬき肉は非常に獣臭く、調理するうえでの臭み消しの手間がかかるため、</p>
<p>ここで言うたぬき汁とは、アナグマ汁の可能性が高いそう。</p>
<p><%= image_tag("raccoon4.jpg", size:"450x300") %></p>
<p>（たぬきと混同されがちなアナグマ）</p>
</div>


<div class="about-main">
<h1>＜生息地＞</h1>
<p>もともと、極東のみに生息するイヌ科の動物。</p>
<p>主な生息地は、日本、中国、朝鮮半島、ロシアやベトナム。</p>
<p>また現在では、北ヨーロッパや西ヨーロッパにまで分布が拡大している。</p>
<p>これは、1928年に毛皮を取るために旧ソ連に移入された、タイリクタヌキ（ビンエツタヌキ）が野生化したものと言われている。</p>
<p>現在では、フィンランドやドイツにも生息しており、1990年代ごろからは、フランスやイタリアでも目撃されている。</p>

</div>

<div class="about-main">
<h1>＜特徴＞</h1>
<p>体長：50～70cm</p>
<p>体重：4～10kg</p>
<br>
<p>一般的にイメージされるたぬきは、11月～5月にかけてのずんぐりむっくりした冬毛であり、</p>
<p>6月～10月の時期は毛が短く、痩せて見えるくらい細くなります。</p>
<p><%= image_tag("raccoon5.jpg", size:"450x300") %>
   <%= image_tag("raccoon3.jpg", size:"450x300") %></p>
<p>（夏毛のたぬき達）&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   （冬毛のたぬき）</p>
</div>

<div class="about-main">
<h1>＜性格＞</h1>
<p>とても臆病な性格をしており、縄張り争いもほとんどありません。</p>
<p>昔からよく言われているとおり、猟師の銃声で当たってもいないのに気絶するほど臆病です。</p>
<p>そのため、車道に飛び出したたぬきが、向かってくる車に驚いてしまい、</p>
<p>道の真ん中で固まってしまった結果、事故にあう事がよくあります。</p>
<p></p>
</div>

<div class="about-main">
<h1>＜日本で会えるたぬき＞</h1>
<h1>ホンドタヌキ</h1>
<p><%= image_tag("raccoon6.jpg", size:"450x300") %></p>
<p>本州や四国、九州に生息する。</p>

<h1>エゾタヌキ</h1>
<p><%= image_tag("raccoon7.jpg", size:"450x300") %></p>
<p>名前のとおり、北海道に生息する。</p>
<p>ホンドタヌキと比べて、身体が大きく毛が長いのが特徴。</p>

<br>
<br>
<br>

</body>

<footer>
  <div class="header-logo">
    <!--トップページへのリンク-->
    <a href="/">＜＜TOP</a>
  </div>
  <ul class="header-logo">
    <li>
      <!--aboutページへのリンク-->
      <a href="/more">moreたぬき＞＞</a>
    </li>
  </ul>
</footer>